.PageLayout {
  display: flex;
  flex-direction: row;
  height: 1132px;
  width: 1600px;
}
.LeftMenu {
  width: 260px;
  height: 100%;
  background-color: #43425d;
}
.LeftMenuHeader {
  display: flex;
  align-items: center;
  top: 0;
  width: 260px;
  height: 70px;
  background-color: #3d3b53;
  box-shadow: 0px 2px 3px #0000000d;
  opacity: 1;
}
.LeftMenuButtonsBlock {
  list-style-position: inside;
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}
.LeftMenuButtonImg {
  height: 18px;
  width: 18px;
  margin-right: 11px;
}
.LeftMenuButton {
  display: flex;
  align-items: center;
  height: 53px;
  color: white;
  padding-left: 25px;
}
.LeftMenuButtonActiveLine {
  position: absolute;
  left: 0;
  height: 53px;
  width: 5px;
  background-color: #a3a0fb;
}
.LeftMenuButtonActive {
  background-color: #3d3b53;
}
.LeftMenuButton:hover {
  background-color: #3d3b53;
}
.HeaderName {
  font-weight: bold;
  letter-spacing: 3px;
  position: relative;
  left: 20px;
  font-size: 15px;
  color: white;
}
.InformationBlock {
  background-color: #f0f0f7;
  height: 1062px;
  width: 100%;
}
.TopMenu {
  justify-content: space-between;
  color: #4d4f5c;
  display: flex;
  align-items: center;
  height: 70px;
  background-color: white;
  width: 100%;
  box-shadow: 0px 2px 3px #0000000d;
  opacity: 1;
  padding-left: 20px;
  padding-right: 20px;
}
.TopMenuControlsBlock {
  display: flex;
  align-items: center;
  gap: 20px;
}
.TopMenuControlsBlockButtons {
  display: flex;
  gap: 30px;
}
.TopMenuControlsBlockLine {
  width: 2px;
  height: 28px;
  background-color: #ebebf2;
}
.TopMenuControlsBlockButtonsImg {
  height: 18px;
  width: 18px;
}
.TopMenuSearchBlock {
  display: flex;
  align-items: start;
  font-size: 15px;
}
.TopMenuSearchBlockIMG {
  height: 18px;
  width: 18px;
  margin-right: 10px;
}
.TopMenuControlsBlockLineUserInfoBlock {
  display: flex;
  align-items: center;
  gap: 15px;
}
.RightBlock {
  height: 1132px;
  width: 1340px;
  display: flex;
  flex-direction: column;
}
.InformationBlock {
  height: 1062px;
  width: 1380px;
  background-color: #f0f0f7;
  box-sizing: border-box;
  padding-left: 75px;
  padding-top: 130px;
  padding-right: 95px;
  padding-bottom: 103px;
}
